#front-page-title{
    color:rgb(166, 160, 204);
    font-size: 65px;
    font-family:helvetica, "times new roman", sans-serif;
}

.front-page-links{
    color:rgb(13, 104, 69);
    font-size: 48px;
    font-family:helvetica, "times new roman", sans-serif;
}

h1 h2{
    font-family:"times new roman", times, serif";
}

h1{
    color: rgb(97, 51, 30);
    font-size: 45px;
    text-align: center;
}

.instructions.header,
.ingredients.header{
    color: rgb(78, 194, 78);
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
 }
h3{
    font-size: 30px;
    font-weight: bold;
}

.ingredients,
.instructions{
    font-size: 25px;  
    font-weight: bold;
    max-width: 500px;
}

.extra-instructions{
    color:rgb(131, 57, 66);
    font-size: 25px;  
    font-weight: bold; 
}
.ingredients{
    background: aqua;
    border: 5px solid blue;
    padding: 40px;

}
.instructions{
    background: rgb(196, 110, 188);
    border: 5px double rgb(72, 185, 49);
    padding: 40px;
}
   
.recipe-images{
    background: aquamarine;
    border: 5px solid pink;
    }
li {
    padding: 8px;
}
.instructions.outerbox{
    background: rgb(179, 140, 69);
    border: 5px double rgb(72, 185, 49);
    max-width: 500px;
    margin: 50px;
}
.ingredients.outerbox{
    border: 10px solid blue;
    max-width: 490px;
    margin: 50px;
}
