#front-page-title{
    color:rgb(166, 160, 204);
    font-size: 65px;
    font-family:helvetica, "times new roman", sans-serif;
}

.front-page-links{
    color:rgb(13, 104, 69);
    font-size: 48px;
    font-family:helvetica, "times new roman", sans-serif;
}
   
.recipe-images{
    background: aquamarine;
    border: 5px solid pink;
}

.header{
    font-size: 55px;
    margin: 40px;
    text-align: center;
}

.list{
    font-size: 25px;  
    font-weight: bold;
    max-width: 500px;
    font-family:"times new roman", times, serif;
    margin: 40px;
}

li {
    padding: 8px;
}

.ingredients .header,
.ingredients .list{
    color:blue;
    border:10px solid;
    text-shadow: 1px 1px black;
}

.ingredients{
    background: aqua;
    border: 10px solid blue;
    max-width: 500px;
    margin: 50px;
}

.instructions .header,
.instructions .list{
    color: rgb(72, 185, 49);
    text-shadow: 1px 1px black;
    border: 10px solid;
}

.instructions{
    background: rgb(179, 140, 69);
    border: 5px double rgb(72, 185, 49);
    max-width: 500px;
    margin: 50px;
}

.extra-instructions{
    color:rgb(131, 57, 66);
    font-size: 25px;  
    font-weight: bold; 
}